<h1>Recipes</h1>

<!-- there should be an option to create a new recipe -->

<div>
  Search Recipes <input
    type="text"
    ng-model='vm.search'
    ng-change='vm.refilter()'
    ng-model-options="{debounce: 500}"
  />

  Add a New Recipe!
  
</div>
<ul class='recipe_list'>
  <li ng-repeat='recipe in vm.filteredRecipes'>{{ recipe.name }} <em> by </em><span> {{ recipe.user.first_name}} {{ recipe.user.last_name}}</span>
    <p> {{ recipe.description }} <a href="/#/recipes/{{recipe.id}}">View</a></p>
  </li>
</ul>
