<form name='new_recipe_form'>
  <br>
  Name: <input
    ng-model='vm.name'
    required='required'
    /><br><br>

  Description: <input
    type="text"
    ng-model='vm.description'
    required='required'
    /><br><br>

  Ingredients: <br>
  <div ng-repeat="ingredient in vm.recipe_ingredients">
    <input
      type="text"
      ng-model="vm.recipe_ingredients[$index].ingredient.name"
      placeholder="Ingredient name"
    />
    <input
      type="text"
      ng-model="vm.recipe_ingredients[$index].ingredient.food_group"
      placeholder="Ingredient food group"
    />
    <input
      type="float"
      ng-model="vm.recipe_ingredients[$index].quantity"
      placeholder="0"
    />
    <input
      type="text"
      ng-model="vm.recipe_ingredients[$index].measurement"
      placeholder="lbs, cups, etc."
    />
  </div>
  <button ng-click='vm.addIngredient(); $event.stopPropagation()'>Add Ingredient</button>
<br>
<br>

  Directions: <textarea
    ng-model="vm.directions"
    form="new_recipe_form"
    cols="30"
    rows="10">
  </textarea> <br>

  Tried? <input
    type="checkbox"
    ng-model='vm.recipe_tried'
     /> {{ vm.tried }}<br><br>

  <div ng-show='new_recipe_form.$dirty && new_recipe_form.$valid'>

    <button
      ng-click='vm.createRecipe()'
      ng-disable='new_recipe_form.$invalid'>Create Recipe</button>
  </div>

</form>
