<!-- <div ng-include="'home/navbar.html'"></div> -->

<h1>{{ vm.recipe.name }}</h1>

<p>{{ vm.recipe.description }}</p>

<h3>Ingredients</h3>
<ul>
  <li ng-repeat="i in vm.recipe.recipe_ingredients">
    {{i.ingredient.name}} - {{ i.quantity }} {{ i.measurement}}
  </li>
</ul>

<!-- {{ vm.recipe.recipe_ingredients}} -->

<h3>Directions</h3>
<p>{{ vm.recipe.directions }}</p>


<!--
<a href="#/recipes/{{vm.recipe.id - 1}}" ng-if='(vm.recipe.id - 1 > 0)'>Prev</a>
<a href="#/recipes/{{vm.recipe.id + 1}}" >Next</a> -->
