<!-- <div ng-include="'home/navbar.html'"></div> -->

<h1>{{ vm.recipe.name }}</h1>

<p>{{ vm.recipe.description }}</p>

<h3>Ingredients</h3>
<ul>
  <li ng-repeat="i in vm.recipe.recipe_ingredients">
    <a href="/#/home/ingredients/{{i.ingredient.id}}">{{i.ingredient.name}}</a> - {{ i.quantity }} {{ i.measurement}}
  </li>
</ul>

<h3>Directions</h3>
<p>{{ vm.recipe.directions }}</p>

<p ng-hide='vm.recipe.recipe_tried'><em> Have you tried this recipe?</em></p>
<p ng-show='vm.recipe.recipe_tried'><em> You've tried this recipe!</em></p>
<input type="checkbox" ng-model='vm.recipe.recipe_tried'
ng-click='vm.updateRecipe()' >


<!--
<a href="#/recipes/{{vm.recipe.id - 1}}" ng-if='(vm.recipe.id - 1 > 0)'>Prev</a>
<a href="#/recipes/{{vm.recipe.id + 1}}" >Next</a> -->
