<h1 class='orange'>Recipes</h1>

<div class='dark_blue'>
  Search Recipes <input
    type="text"
    ng-model='vm.search'
    ng-change='vm.refilter()'
    ng-model-options="{debounce: 500}"
  />
</div>
<br>
<button ng-click='vm.untried()'>Untried Recipes</button>
<button ng-click='vm.tried()'>Tried Recipes</button>
<br><br>
<button><a href="/#/home/new-recipe">Add a New Recipe!</a></button>


  <div class='recipe_view' ui-view></div>


  <ul class='recipe_list'>
    <li ng-repeat='recipe in vm.filteredRecipes'>{{ recipe.name }}
      <p> {{ recipe.description }} <a href="/#/home/recipes/{{recipe.id}}">View</a></p>
    </li>
  </ul>
