<h1>{{vm.ingredient.name}}</h1>
<h3 ng-if='vm.ingredient.food_group'>{{vm.ingredient.food_group}}</h3>

<div ng-if='!vm.ingredient.food_group'>
  <h3><em> This ingredient hasn't been categorized yet! Please update it! </em></h3>
  <form name='ingredient_update_form'>
    <input
      type="text"
      ng-model='vm.food_group'
      placeholder="Food Group" />
  </form>
  <button ng-click='vm.updateIngredient()'>Update</button>
</div>

<div>
  <ul>
    <li ng-repeat='recipe in vm.ingredient.recipes'>
      {{ recipe.name }} - <a href="/#/home/recipes/{{recipe.id}}"> View Recipe </a>
    </li>
  </ul>

</div>
