<h1 class='orange'>Ingredients</h1>

<!-- there should be an option to create a new ingredient -->

<div class='dark_blue ingredients'><div>
  Search Ingredients <input
    type="text"
    ng-model='vm.search'
    ng-change='vm.refilter()'
    ng-model-options='{debounce: 500}'
  />
  </div>
  <div>
    <button><a href="/#/home/new-ingredient">Add a New Ingredient!</a></button>
  </div>
</div>

<div class='ingredient_view' ui-view></div>


<ul>
  <li ng-repeat='ingredient in vm.filteredIngredients'>
    <a href="#/home/ingredients/{{ingredient.id}}">{{ingredient.name}}</a>
  </li>

</ul>
