/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 *{
   background-color: #FFF5C3;
   color: #505050;
 }

.orange {
  color: #FF7260;
  font-style: italic;
  font-family: cursive;
}

.dark_blue {
  color: #129793;
  font-style: italic;
  font-family: cursive;
}

.light_blue {
  color: #9BD7D5;
  font-family: monospace;
  font-style: normal;
}

.fancy {
  font-size: 6em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5;
}

.fancy + p{
  text-align: center;
  font-size: 1.7em;
}

.list_title {
  margin-left: 6em;
}

.homepage_links {
  text-align: center;
}

.homepage_links a{
   margin: 2em;
   display: inline;
   font-size: 2em;
 }

 a:link{
   color: #9BD7D5;
   font-family: monospace;
   font-style: normal;
 }

 a:visited{
   color: #129793;
   font-family: monospace;
   font-style: normal;
 }

.recipe_view {
  float: right;
  width: 30em;
}

.ingredient_view {
  float: right;
  width: 30em;
}
